---
Checks: >
  *,
  -fuchsia-*,
  -google-readability-todo,
  -google-runtime-references,
  -llvm-header-guard,-llvmlibc-*,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -concurrency-mt-unsafe
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
